.brightness {-webkit-filter: brightness(1); filter: brightness(1);}
.shadow{height: 100%;width: 100%;background: rgba(0,0,0,0.6);z-index: -1;float:left;position: absolute;}
.invert {-webkit-filter: invert(100%); filter: invert(100%);}
.underline{
  text-decoration: underline;
}
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
body{
	font-size: 20px;
	font-weight: 400px;
	font-family: 'Lato', sans-serif;
    text-shadow: 1px 1px 8px #000;
    background: #0E0E0E;
    color: #E0E0E0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 0;
    position: relative;
    transition: opacity 1s, padding-top .3s, right .3s
}
html {
    margin: 0;
    height: 100%;
}
img {
    border: 4px;
    border-color: rgba(0,0,0,0.3);
}
nav{
  background: transparent;
  box-shadow: none;
}
ul {
  list-style-type: none;
    margin: 0;
    padding: 0;
}
li{
    
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
    margin: 0;
}
h2{
    font-size: 40px;
    font-weight: 300;
    text-shadow: 2px 2px 2px rgba(0,0,0,.5);
    padding: 20px;
    color: #fff;
    text-transform: capitalize;
    
}
/*LOADER*/
.loader-wrapper{
  z-index: 1001;
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.preloader-wrapper{
  z-index: 1002;
  
}
.loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #212121;
    z-index: 1001;
}
 
.loader-section.section-left {
    left: 0;
}
 
.loader-section.section-right {
    right: 0;
}


.loaded .loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(-100%);  /* IE 9 */
    transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */
}
 
.loaded .loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(100%);  /* IE 9 */
    transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */
}
.loaded .loader-wrapper .loader-section.section-left,
.loaded .loader-wrapper .loader-section.section-right 
{-webkit-transition: all 0.7s 0.3s ease-out; 
            transition: all 0.7s 0.3s ease-out;}

.loaded .preloader-wrapper {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out; 
            transition: all 0.3s ease-out;
}
.loaded .loader-wrapper {
-webkit-transform: translateY(-100%);
            -ms-transform: translateY(-100%);
                transform: translateY(-100%);
 
        -webkit-transition: all 0.3s 1s ease-out; 
                transition: all 0.3s 1s ease-out;
}
.container{
    margin: 0 auto;
    width: 100%;
}



/********************************************* NAVBOX **********************************************/

.navbox{
  background: transparent;
  float:left;
  top:40%;
  z-index: 1000;
  position: fixed;
  
}

.navbox-list {
 
    list-style: none;
    margin: 0;

}

.menu-item {
    flex: 2;
    flex-basis: 75%;
    margin: .75em 50px;
}

.menu-item-button {
    font-size: 1em;
    border-color: transparent;
    border-width: 1px;
    border-width: 0.0625rem;
    color: #fff;
    color: rgba(255, 255, 255, 0.5);

    margin: -.4em -.8em;
    padding: .4em .7em;
    position: relative;
    text-decoration: none;
    vertical-align: top;
    white-space: nowrap;
}  

.menu-item-button:focus, .menu-item-button:hover, .menu-item-button:active{
  background-color: transparent;
    border-color: #fff;
    border-color: rgba(255, 255, 255, 0.5);
    color: inherit;
    text-decoration: none;
}
.menu-indicator{
  flex-basis: 25%;
  left: 0;
  float: left;
  margin: 15px 0;
  background: #fff;
  height: 1px;
  width: 0%;
  transition: width 0.5s linear;
}



.menu-indicator.active{
  visibility: visible;
  position: absolute;
  float: left;
  margin: 15px 0;
  background: #fff;
  height: 1px;
  width: 20%;
  

}
.menu-item-button.active{
  color: white;
  -webkit-transition: all linear 0.2s;
    -moz-transition: all linear 0.2s;
  transition: all linear 0.2s
}

.menu-item-button:before {
    transition: 1.2s;
    background: #fff;
    background: rgba(255, 255, 255, 0.2);
    bottom: .6em;
    content: "";
    height: 1px;
    height: 0.0625rem;
    margin-right: 1.075em;
    padding-left: 0;
    position: absolute;
    right: 100%
}
/*page commands*/


.area {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width: 100%;
}

/* HOME PAGE */

.home-area{
    background-image: url(../img/back-main-page.png);
    background-attachment: fixed;
    background-size: 100% 100%;
    height: 100vh;
    width: 100%;
}


.authorname-wrapper{
  position: absolute;
  max-width: 500px;
  margin: 0 auto;
  display: block;
  overflow-x: hidden;
  top: 30vh;
  left: 0;
  right: 0;
  text-align: center; }


.text-name {
    line-height: 52px;
    font-size: 72px;
    font-weight: 700;
    text-shadow: 2px 2px 2px rgba(0,0,0,.5);
    padding: 0;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 10px;
    
}
.text-spec {
    font-size: 40px;
    font-weight: 300;
    text-shadow: 2px 2px 2px rgba(0,0,0,.5);
    padding: 0 0 20px;
    color: #fff;
    text-transform: capitalize;
    }

/***************ABOUT ME***************/
.aboutme-area{
  width: 100%;
  
  margin: 0;
}
.aboutme-container{
  width: 100%;
  height: 100%;
  background: rgba(40,40,40,0.3);
  display: flex;
  -webkit-justify-content: center;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-content: flex-end;
  align-content: center;
  justify-content: center;
  align-items: stretch;
  overflow: hidden;
}
.aboutme-item-img{
  flex: 1 0 50%;
  margin: 35px 0;
  padding: auto;
}
.aboutme-item-img img{
  display: block;
 border-radius: 50%;
  width: 60%;
  margin: auto;
  border: 10px solid rgba(0,0,0,0.2);

}

.aboutme-item-text{
  flex: 1 0 50%;
  margin: 30px 0;
  padding: 20px;
  
}
@media (max-width: 764px) {
  .aboutme-item {
    width:100%;
    flex-basis: 100%;}
    
}




/*******************SKILLS*******************/

.skills-area{
  background: #424242 ;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-content: flex-end;
  align-content: flex-end;
  align-items: stretch;
  overflow: hidden;

}


.skills-item{
  flex: 1 0 25%;
  height: 380px;
  padding: 30px;
  margin: 0;
  border: 1px solid rgba(0,0,0,0.3);
  box-sizing: border-box;
  }
@media (max-width: 764px) {
  .skills-item {
    width:50%;
    flex-basis: 50%;}
}
.skills-item-emblem{
  display: block;
  top: 8vh;
  margin: auto;
}
.skills-emblem-img{
  display:block;
  width: 60%;
  margin:auto;
}
.skills-emblem-img:hover{
  overlay: yellow;
}
.skills-item-title{
  padding: 0px;
  margin: 50px 0;
  font-size: 1.25em;
  font-weight: bold;
  text-align: center;
}

.skills-item:hover{
   -webkit-transition: 0.3s; 
  transition: 0.3s;
  background: #474747;
}

/*********************CONTACT******************/
.contact-area{
  display: block;
  margin: auto;
  padding: auto;
height: 900px;
width: 100%;
background: url(../img/contact-background.png);
background-repeat: repeat;
background-size:50%;

}
.contact-container{
  background: rgba(40,40,40,0.2);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: stretch;
}

.contact-form{
  width: 70%;
  display:flex;
  flex-flow: row wrap;
}

.contact-column{
  flex: 1;
  background: rgba(18,18,18,0.88);
  display: flex;
  margin:auto;
  height: 100%;
  padding:5%;
  flex-flow: column wrap;
}
@media (max-width: 764px) {
  .contact-column {
    width:100%;
    flex-basis: 100%;}
    
}
.input-field{
  flex: 1;
}

   /* icon prefix focus color */
   .input-field .prefix.active {
     color: yellow;
   }
  .contact-submit-button{
    margin: 40px 0;
    width: 180px;
    background: #474747;
  }
  .contact-submit-button:hover{
    background: yellow;
  }

.footer{
  height: 40px;
  bottom: 0px;
  text-align: right;
  line-height: 40px;
  margin-right: 40px;
}
