.brightness {-webkit-filter: brightness(1); filter: brightness(1);}
.invert {-webkit-filter: invert(100%); filter: invert(100%);}
body{
	font-size: 20px;
	font-weight: 400px;
	font-family: 'Raleway', serif;
    text-shadow: 1px 1px 8px #000;
    background: #0E0E0E;
    color: #E0E0E0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 0;
    position: relative;
    transition: opacity 1s, padding-top .3s, right .3s
    
}
html {
    margin: 0;
    height: 100%;
}
img {
    border: 4px;
    border-color: rgba(0,0,0,0.3);
}
nav{
  background: transparent;
  box-shadow: none;
}
ul {
  list-style-type: none;
    margin: 0;
    padding: 0;
}
li{
    
}


/* funkcja opóźniania animacji - transition */



h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', serif;
    margin: 0;
}

.container{
    margin: 0 auto;
    width: 100%;
}
/*********************************************NavBox**********************************************/

.navbox{
  background: transparent;
  float:left;
  top:40%;
  left: 5%;
  z-index: 9999;
  position: fixed;
  height: 100%
}

.navbox-list {
    list-style: none;
    margin: 0
}

.menu-item {
    margin: .75em 0
}

.menu-item-button {
    border-color: transparent;
    border-width: 1px;
    border-width: 0.0625rem;
    color: #fff;
    color: rgba(255, 255, 255, 0.5);
    display: inline-block;
    margin: -.4em -.8em;
    padding: .4em .7em;
    position: relative;
    text-decoration: none;
    vertical-align: top;
    white-space: nowrap
}  

.menu-item-button:focus, .menu-item-button:hover, .menu-item-button:active{
  background-color: transparent;
    border-color: #fff;
    border-color: rgba(255, 255, 255, 0.5);
    color: inherit;
    text-decoration: none;
}

.menu-item-button:before {
    transition: 1.2s;
    background: #fff;
    background: rgba(255, 255, 255, 0.2);
    bottom: .6em;
    content: "";
    height: 1px;
    height: 0.0625rem;
    margin-right: 1.075em;
    padding-left: 0;
    position: absolute;
    right: 100%
}
/*page commands*/


.area {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width: 100%;
}

/* HOME PAGE */

.home-area{
    background-image: url(../img/back-main-page.jpeg);
    background-attachment: fixed;
    height: 100%;
    height: 100vh;
    width: 100%;
}


.authorname-wrapper{
  transition: all 4.5s 0.75s ease-in-out;
  transform: translateY(50px);
  position: absolute;
  height: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: table;
  overflow-x: hidden;
  top: 30vh;
  left: 0;
  right: 0;
  text-align: center; }


.text-name {
    line-height: 52px;
    font-size: 72px;
    font-weight: 700;
    text-shadow: 2px 2px 0px rgba(0,0,0,.3);
    padding: 0;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 10px;
    
}
.text-spec {
    font-size: 40px;
    font-weight: 300;
    text-shadow: 2px 2px 0px rgba(0,0,0,.3);
    padding: 0 0 20px;
    color: #fff;
    text-transform: capitalize;
    }

.footer{
    bottom: 0px;
}
