:focus {
    outline: none;
}

.half {   
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
}

@media (min-width: 992px) {
    .half {
        width: 50%;
    }
}

.contact {
    min-height: 100vh;
    width: 100%;
    .title {
        margin: 0;
        padding: 40px 0 0 40px;
        font-size: 4rem;
        font-weight: 900;
        color: $ebony;
        span {
            border-bottom: 5px solid $crimson;
        }
    }
    &-area {
        position: relative;
        min-height: 100vh;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    
    &__content {
        margin: auto;
        width: 100%;
        padding: 0 40px;
        h2{
            font-size: 3rem;
            margin-bottom: 24px;
            font-weight: 800;
        }
        p {
            font-size: 2.5rem;
            line-height: 1.25;
            margin-bottom: 16px;
            font-weight: 300;
            margin-bottom: 1.5rem;
            strong {
                font-weight: 500;
            }
        }

        &__links {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            

            a {
                font-size: 2rem;
                margin-block: 16px;
                font-weight: 500;
                color: $crimson;
                position: relative;
                transition: color .3s;
                transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
                outline: none;
                text-decoration: none;
                &.link {
                    &::after {
                        content: "";
                        display: block;
                        position: absolute;
                        bottom: -3px;
                        width: 100%;
                        height: 2px;
                        background: $crimson;
                        transition: transform .3s;
                        transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
                        transform: scaleX(0);
                        transform-origin: left;
                    }
                    &:focus,
                    &:active,
                    &:hover {
                        color: $crimson;
                        text-decoration: none;
                        &::after {
                            transform: scaleX(1);
                        }
                    }
                }
            }

            &__social {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 24px;
                a {
                    margin-bottom: 0;
                }
                img { 
                    width: 24px;
                }
            }

        }
        
        
    }
    .decor {
        background: $crimson;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        .logo {
            width: 40%;
        }
    }
}

@media(max-width: 1024px) {
    .contact {
        .title {
            padding: 20px 0 0 5px;
        }
        &__content {
            margin-top: 40px;
            padding: 0 20px;
        }
        
    }
}

@media(max-width: 768px) {
    .contact {
        &__content {
            margin-top: 32px;
            h2{
                font-size: 2.25rem;
            }
            p {
                font-size: 2rem;
            }
            &__links {
                a{
                    font-size: 1.75rem;
                }
            }
        }
        .decor {
            display: none;
        }
    }
}