@import url("bootstrap.css");
@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/pn300.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/pn500.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/pn700.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/pn800.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/pn900.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}
html {
  font-size: 62.5%;
}

body {
  font-family: "Proxima Nova", sans-serif;
}

.notification {
  height: 100vh;
  width: 100%;
  background: #D9181D;
}
.notification .title {
  margin: 0;
  position: absolute;
  left: 40px;
  top: 40px;
  float: left;
  color: #0E1720;
  font-size: 4rem;
  font-weight: 900;
}
.notification .title span {
  border-bottom: 5px solid #0E1720;
}

.details .objects {
  width: 20px;
  height: 20px;
  position: absolute;
  z-index: 0;
  transition: all 0.3s ease-in-out;
}
.details .obj-1 {
  top: 20vh;
  left: 25vw;
  transform: rotate(30deg);
}
.details .obj-2 {
  top: 61vh;
  left: 30vw;
  transform: rotate(40deg);
}
.details .obj-3 {
  top: 30vh;
  left: 18vw;
  transform: rotate(50deg);
}
.details .obj-4 {
  top: 40vh;
  left: 4vw;
  transform: rotate(60deg);
}
.details .obj-5 {
  top: 50vh;
  left: 93vw;
  transform: rotate(70deg);
}
.details .obj-6 {
  top: 20vh;
  left: 83vw;
  transform: rotate(80deg);
}
.details .obj-7 {
  top: 83vh;
  left: 87vw;
  transform: rotate(10deg);
}
.details .obj-8 {
  top: 82vh;
  left: 61vw;
  transform: rotate(15deg);
}
.details .obj-9 {
  top: 90vh;
  left: 15vw;
  transform: rotate(40deg);
}
.details .obj-10 {
  top: 30vh;
  left: 73vw;
  transform: rotate(60deg);
}

@media (max-width: 992px) {
  .details {
    display: none;
  }
  .details .obj-1 {
    top: 87vh;
    left: 13vw;
    transform: rotate(30deg);
  }
  .details .obj-2 {
    top: 61vh;
    left: 15vw;
    transform: rotate(40deg);
  }
  .details .obj-3 {
    top: 30vh;
    left: 16vw;
    transform: rotate(50deg);
  }
  .details .obj-4 {
    top: 43vh;
    left: 5vw;
    transform: rotate(60deg);
  }
  .details .obj-5 {
    top: 52vh;
    left: 90vw;
    transform: rotate(70deg);
  }
  .details .obj-6 {
    top: 22vh;
    left: 81vw;
    transform: rotate(80deg);
  }
  .details .obj-7 {
    top: 85vh;
    left: 89vw;
    transform: rotate(10deg);
  }
  .details .obj-8 {
    top: 72vh;
    left: 86vw;
    transform: rotate(15deg);
  }
  .details .obj-9 {
    top: 21vh;
    left: 24vw;
    transform: rotate(40deg);
  }
  .details .obj-10 {
    top: 30vh;
    left: 93vw;
    transform: rotate(60deg);
  }
}
.homepage {
  height: 100vh;
  width: 100%;
  background: #D9181D;
}
.homepage .menu {
  display: flex;
  margin: 0;
  min-height: 100px;
  width: 100%;
  margin: 0 0 40px 0;
  padding: 0;
  padding-top: 40px;
  position: relative;
}
.homepage .menu-list {
  height: 4.2rem;
  padding-bottom: 5px;
  margin: auto;
}
.homepage .menu-list-point {
  margin: 0;
  padding: 0;
  display: inline-flex;
  z-index: 1;
  position: relative;
}
.homepage .menu-list-point::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: #0E1720;
  height: 100%;
  width: 0%;
  z-index: 1;
  transition: all 0.5s ease-in-out;
}
.homepage .menu-list-point:hover::before {
  z-index: 1;
  content: "";
  width: 100%;
}
.homepage .menu-list-point a {
  width: 100%;
  height: 100%;
  z-index: 999;
  color: white;
  font-size: 1.8rem;
  text-decoration: none;
  padding: 2px 15px;
}
.homepage .menu-list-point a span {
  display: inline-block;
  z-index: 99;
}
.homepage .menu .title {
  margin: 0;
  position: absolute;
  left: 40px;
  top: 40px;
  float: left;
  color: #0E1720;
  font-size: 4rem;
  font-weight: 900;
}
.homepage .menu .title span {
  color: #0E1720;
  border-bottom: 5px solid #0E1720;
}
.homepage .menu-social {
  position: absolute;
  top: 40px;
  right: 40px;
  margin-left: auto;
}
.homepage .menu-social a {
  margin-left: 40px;
  width: 40px;
  height: 40px;
  position: relative;
  display: inline-block;
}
.homepage .menu-social a::before {
  content: "";
  position: absolute;
  top: 0;
  left: -15px;
  background-color: white;
  height: 100%;
  width: 0%;
  z-index: 0;
  transition: all 0.5s ease-in-out;
}
.homepage .menu-social a:hover::before {
  z-index: 0;
  content: "";
  width: calc(100% + 30px);
}
.homepage .menu-social-item {
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  width: 40px;
  height: 40px;
  position: relative;
}
.homepage .menu-social .inst {
  background-image: url("../img/instagram.svg");
  z-index: 12;
}
.homepage .menu-social .link {
  background-image: url("../img/linkedin.svg");
}
.homepage .logo {
  width: 20%;
  position: relative;
  left: 50%;
  top: 28%;
  margin-left: -10%;
  margin-top: -10%;
}
.homepage .logo .teaser {
  margin-top: 20px;
  font-size: 4.2rem;
  font-weight: 700;
  color: #0E1720;
  text-align: center;
}

@media (max-width: 992px) {
  .homepage .menu-list {
    display: none;
  }
  .homepage .menu .title {
    left: 20px;
    top: 20px;
    color: #0E1720;
    font-size: 4rem;
    font-weight: 900;
  }
  .homepage .menu .title span {
    border-bottom: 5px solid #0E1720;
  }
  .homepage .menu-social {
    top: 20px;
    right: 20px;
  }
  .homepage .logo {
    width: 200px;
    float: left;
    position: relative;
    left: 50%;
    top: 15%;
    margin-left: -100px;
    margin-top: -100px;
  }
}
.aboutme {
  width: 100%;
  min-height: 100vh;
  background-image: url("../img/background.jpg");
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: top center;
  padding-bottom: 10px;
}
.aboutme .title {
  margin: 0;
  padding: 40px 0 0 40px;
  color: #0E1720;
  font-size: 4rem;
  font-weight: 900;
  color: #fff;
}
.aboutme .title span {
  border-bottom: 5px solid #D9181D;
}
.aboutme .teaser {
  font-size: 3rem;
  font-weight: 700;
  padding-left: 40px;
  margin-top: 80px;
  margin-bottom: 50px;
  color: #fff;
}
.aboutme .text {
  font-size: 1.8rem;
  line-height: 1.5;
  margin-bottom: 20px;
  padding-left: 40px;
  max-width: 500px;
  color: #fff;
}
.aboutme .text a {
  text-decoration: underline;
  color: #fff;
  font-weight: 700;
  transition: color 0.3s ease-in-out;
}
.aboutme .text a:hover {
  color: #D9181D;
}

@media (max-width: 992px) {
  .aboutme .title {
    padding-top: 20px;
    padding-left: 20px;
  }
  .aboutme .teaser {
    text-align: center;
    padding: 0 10px;
  }
  .aboutme .text {
    text-align: center;
    width: 100%;
    padding: 0 10px;
    max-width: 100%;
  }
}
.skillset {
  width: 100%;
  min-height: 100vh;
  background: white;
}
.skillset .title {
  margin: 0;
  padding: 40px 0 0 40px;
  color: #0E1720;
  font-size: 4rem;
  font-weight: 900;
  color: #0E1720;
}
.skillset .title span {
  border-bottom: 5px solid #D9181D;
}
.skillset .skill {
  margin-top: 25vh;
  margin-bottom: 15vh;
}
.skillset .skill .icon {
  margin-top: 50px;
  text-align: center;
}
.skillset .skill .hor-line {
  margin: 50px auto;
  height: 5px;
  width: 40px;
  background: #D9181D;
}
.skillset .skill .subtitle {
  margin: 50px 0;
  text-align: center;
  font-size: 2.2rem;
  font-weight: 900;
}
.skillset .skill .text {
  padding: 0 40px;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 1.5;
  text-align: center;
}

@media (max-width: 992px) {
  .skillset .title {
    margin: 0;
    margin-bottom: 40px;
    padding: 20px 0 0 20px;
    color: #0E1720;
    font-size: 4rem;
    font-weight: 900;
    color: #0E1720;
  }
  .skillset .title span {
    border-bottom: 5px solid #D9181D;
  }
  .skillset .skill {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .skillset .skill .icon {
    margin-top: 30px;
    text-align: center;
  }
  .skillset .skill .hor-line {
    margin: 30px auto;
    height: 5px;
    width: 40px;
    background: #D9181D;
  }
  .skillset .skill .subtitle {
    margin: 30px 0;
    text-align: center;
    font-size: 2.2rem;
    font-weight: 900;
  }
  .skillset .skill .text {
    padding: 0 20px;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.5;
    text-align: center;
  }
}
.projects {
  min-height: 100vh;
  width: 100%;
  background: #0E1720;
}
.projects .title {
  margin: 0;
  padding: 40px 0 0 40px;
  font-size: 4rem;
  font-weight: 900;
  color: white;
}
.projects .title span {
  border-bottom: 5px solid #D9181D;
}
.projects-area {
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.projects-showcase {
  position: relative;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.projects-showcase::before {
  content: "";
  background: white;
  height: 30px;
  width: 4px;
  color: white;
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 2px);
  z-index: 20;
}
.projects-showcase::after {
  content: "";
  background: white;
  height: 4px;
  width: 30px;
  color: white;
  position: absolute;
  top: calc(50% - 2px);
  left: calc(50% - 15px);
  z-index: 20;
}
.projects-showcase .projects-showcase-item {
  background-color: rgb(217, 24, 29);
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  flex: 1 1 50%;
  transition: 0.3s ease-in-out;
  width: 15vw;
  height: 30vh;
  position: relative;
}
.projects-showcase .projects-showcase-item a {
  color: white;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 100;
  font-size: 1.4rem;
  width: 100%;
  height: 100%;
  transition: all 0.4s ease-in-out;
}
.projects-showcase .projects-showcase-item a span {
  display: inline-flex;
  z-index: 99;
  position: relative;
}
.projects-showcase .projects-showcase-item a span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: #0E1720;
  height: 100%;
  width: 0%;
  z-index: 1;
  transition: width 0.5s ease-in-out;
}
.projects-showcase .projects-showcase-item a:hover {
  text-decoration: none;
  font-size: 2.4rem;
}
.projects-showcase .projects-showcase-item a:hover span::before {
  z-index: -1;
  content: "";
  width: 100%;
}
.projects-showcase .projects-showcase-item:hover {
  background-color: transparent;
}
.projects-showcase .lsse {
  background-image: url("../img/lsse.jpg");
}
.projects-showcase .budowlaneabc {
  background-image: url("../img/budowlaneabc.jpg");
}
.projects-showcase .pawlowice {
  background-image: url("../img/pawlowice.jpg");
}
.projects-showcase .progress-development {
  background-image: url("../img/progress-development.png");
}
.projects-showcase .sp {
  background-image: url("../img/sp.png");
}
.projects-showcase:nth-child(odd) {
  flex: 0 0 50%;
}

@media (max-width: 992px) {
  .projects .title {
    padding: 20px 0 0 20px;
  }
  .projects-showcase::before {
    display: none;
  }
  .projects-showcase::after {
    display: none;
  }
  .projects-showcase .projects-showcase-item {
    flex: 1 1 100%;
    width: 20vw;
    height: 30vh;
  }
  .projects-showcase .projects-showcase-item::before {
    content: "";
    background: white;
    height: 4px;
    width: 30px;
    color: white;
    position: absolute;
    bottom: -2px;
    left: calc(50% - 15px);
    z-index: 20;
  }
  .projects-showcase .projects-showcase-item a {
    text-align: center;
  }
  .projects-showcase:nth-child(odd) {
    flex: 0 0 100%;
  }
  .projects-showcase:first-of-type {
    margin-top: 40px;
  }
  .projects-showcase:last-of-type {
    margin-bottom: 40px;
  }
}
:focus {
  outline: none;
}

.contact {
  min-height: 100vh;
  width: 100%;
}
.contact .title {
  margin: 0;
  padding: 40px 0 0 40px;
  font-size: 4rem;
  font-weight: 900;
  color: #0E1720;
}
.contact .title span {
  border-bottom: 5px solid #D9181D;
}
.contact-area {
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.contact-form {
  margin: auto;
  width: 100%;
  padding-left: 40px;
}
.contact-form h3 {
  font-size: 3rem;
  margin-bottom: 24px;
  font-weight: 700;
}
.contact-form p {
  font-size: 2.5rem;
  margin-bottom: 16px;
  font-weight: 400;
}
.contact-form a {
  font-size: 2.4rem;
  margin-bottom: 16px;
  display: block;
  color: #0E1720;
  font-weight: 300;
  text-decoration: underline;
}
.contact .decor {
  background: #D9181D;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact .decor .logo {
  width: 40%;
}

@media (max-width: 992px) {
  .contact .title {
    padding: 20px 0 0 5px;
  }
  .contact-form .input-effect {
    width: 90%;
  }
  .contact .decor {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
