.notification{
    height: 100vh;
    width: 100%;
    background:$crimson;
    .title{
        margin:0;
        position: absolute;
        left:40px;
        top:40px;
        float: left;
        color: $ebony;
        font-size:4rem;
        font-weight: 900;
        span{
            border-bottom: 5px solid $ebony; 
        }
    }
}